@page ""
@model BlogModel
@{
}
@using UtilitesLayer.Utilities.ali
@inject CloudTool tool14
@await Component.InvokeAsync("Slider",Model.Posts.Objects)
<section class="container section">
    <div class="card">
        <div dir="rtl" class="card-content">
            <h4>اخبار:</h4>
            <ul class="collection">
                @foreach(var item in Model.Categories)
                {
                    <li class="collection-item right"><a href="?category=@item.Slug">@item.Name</a></li>
                }

            </ul>
        </div>
    </div>
    <h1 class="center" dir="rtl">اخبار:</h1>
    @if (ViewData["search-message"] is not null)
    {  
        <h3 class="center">@ViewData["search-message"]</h3>
    }
    <div class="row">
        @foreach (var item in Model.Posts.Objects)
        {
        <div class="col s6 l4">

            <div class="card small" dir="rtl">
                <div class="card-image">
                    <img class="" style="width:100%; height:100%"  src="@tool14.GeneratePreSignedUrl(item.ImagePath, DirectoryPath.BucketName)">
                    <span class="card-title" dir="rtl">@item.Name</span>
                </div>
                <div class="card-content">
                    <p dir="rtl">@item.Description</p>
                </div>
                <div class="card-action">
                    <a class="btn" asp-page="Post" asp-route-id="@item.Id" asp-route-slug="@item.Slug">مشاهده</a>
                </div>
            </div>
        </div>

        }

    </div>
    <ul class="pagination center">
        <li class="@((Model.Posts.CurrentPage - 1) >= 1?"waves-effect":"disabled")">
            <a href="#!" onclick="changePage(@(Model.Posts.CurrentPage - 1));">
                <i class="material-icons" >chevron_left</i>
            </a>
        </li>

        @if (Model.Posts.CurrentPage - 2 > 0)
        {
            <li class="waves-effect">
                <a onclick="changePage(@(Model.Posts.CurrentPage - 2));">@(Model.Posts.CurrentPage-2)</a>
            </li>
            <li class="waves-effect">
                <a onclick="changePage(@(Model.Posts.CurrentPage - 1));">@(Model.Posts.CurrentPage-1)</a>
            </li>
        }
        else if (Model.Posts.CurrentPage - 1 > 0){
        <li class="waves-effect">
            <a onclick="changePage(@(Model.Posts.CurrentPage - 1));">@(Model.Posts.CurrentPage - 1)</a>
        </li>
        }
        <li class="active">
            <a onclick="changePage(@(Model.Posts.CurrentPage));">@Model.Posts.CurrentPage</a>
        </li>
        @if (Model.Posts.CurrentPage + 1 <= Model.Posts.PageCount)
        {
            <li class="waves-effect">
                <a onclick="changePage(@(Model.Posts.CurrentPage +1));">@(Model.Posts.CurrentPage+1)</a>
            </li>
        }
        @if (Model.Posts.CurrentPage + 2 <= Model.Posts.PageCount)
        {
            <li class="waves-effect">
                <a onclick="changePage(@(Model.Posts.CurrentPage +2));">@(Model.Posts.CurrentPage+2)</a>
            </li>
        }

        <li class="@((Model.Posts.CurrentPage + 1) <= Model.Posts.PageCount?"waves-effect":"disabled")">
            <a onclick="changePage(@(Model.Posts.CurrentPage +2));">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </ul>
   @*  <ul class="pagination center">

        @if (Model.Posts.CurrentPage != 1)
        {
            <li class="page-item">
                <button class="page-link" onclick="changePage(@(Model.Posts.CurrentPage - 1));">قبلی</button>
            </li>

            <li class="page-item">
                <button class="page-link" onclick="changePage(@(Model.Posts.CurrentPage - 1));">@(Model.Posts.CurrentPage - 1)</button>
            </li>
            @if (Model.Posts.CurrentPage - 2 > 0)
            {

                <li class="page-item">
                    <button class="page-link" onclick="changePage(@(Model.Posts.CurrentPage - 2));">@(Model.Posts.CurrentPage - 2)</button>
                </li>
            }
        }
        <li class="page-item">
            <button class="page-link active" onclick="changePage(@(Model.Posts.CurrentPage));">@(Model.Posts.CurrentPage)</button>
        </li>
        @if (Model.Posts.CurrentPage != Model.Posts.PageCount)
        {
            <li class="page-item">
                <button class="page-link" onclick="changePage(@(Model.Posts.CurrentPage + 1));">@(Model.Posts.CurrentPage + 1)</button>
            </li>
            @if (Model.Posts.CurrentPage + 2 <= Model.Posts.PageCount)
            {

                <li class="page-item">
                    <button class="page-link" onclick="changePage(@(Model.Posts.CurrentPage + 2));">@(Model.Posts.CurrentPage + 2)</button>
                </li>
            }
            <li class="page-item">
                <button class="page-link" onclick="changePage(@(Model.Posts.CurrentPage + 1))">بعدی</button>
            </li>
        }
    </ul> *@
</section>