@page
@using UtilitesLayer.Utilities.ali
@model IndexModel
@{
    ViewData["title"] = "خانه";
}
@inject CloudTool tool
@await Component.InvokeAsync("Slider", Model.Posts);
<section class="container section">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3">
                    <a href="#test2">کادر</a>
                </li>
                <li class="tab col s3">
                    <a class="active" href="#test1">درباره مدرسه</a>
                </li>
                <li class="tab col s3">
                    <a href="#test4">موقعیت</a>
                </li>
            </ul>
        </div>
        <div id="test1" class="col s12">
            <br/>
            <div class="row center">
                <div class="col s12 m4"><img src="/img/sampad.png" width="100%" alt=""><br><h4 class="orange-text lighten-1">مدرسه تیزهوشان</h4></div>
                <div class="col s12 m4 offset-m4"><img src="/img/GoodStudent.jpg"  width="100%" alt=""><br><h4 class="orange-text lighten-1">دانش اموزان نمونه</h4></div>
                <div class="col s12 m4 offset-m4"><img src="/img/abzar.jpg" width="100%"  alt=""><br><h4 class="orange-text lighten-1">امکانات فراوان</h4></div>
            </div>
            <h3 class="center">ویژگی ها</h3>

            <ul class="collapsible popout">

                <li class="active">
                    <div class="collapsible-header"><i class="material-icons"></i>ازمایشگاه</div>
                    <div class="collapsible-body container">
                        <span>ازمایشگاه خیلی خوب</span><br><img src="/img/redmi2.jpg" class="responsive-img" alt="" srcset="">
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons"></i>ازمایشگاه</div>
                    <div class="collapsible-body container">
                        <span>ازمایشگاه خیلی خوب</span><br><img src="/img/redmi2.jpg" class="responsive-img" alt="" srcset="">
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons"></i>ازمایشگاه</div>
                    <div class="collapsible-body container">
                        <span>ازمایشگاه خیلی خوب</span><br><img src="/img/redmi2.jpg" class="responsive-img" alt="" srcset="">
                    </div>
                </li>
            </ul>

        </div>
        <div id="test2" class="col s12">
            <ul dir="rtl" class="collection">
                <li class="collection-header center">
                    <h3>

                     کادر و معلمان مدرسه
                    </h3>
                </li>
                @foreach(var item in Model.Teachers)
                {
                <li style="height:120px;" class="collection-item avatar">
                        <img src="@tool.GeneratePreSignedUrl(item.FilePath, DirectoryPath.BucketName)" alt="@item.Name" style="width:100px;height: 100px;" class="circle">
                    <span class="title"><b>@item.Name</b></span>
                    <p style="padding-top:10px;">
                        @item.Doc<br>
                        <b>@item.Description</b><br>
                            @if (item.PublicPhoneNumber)
                            {
                            <i>@item.PhoneNumber</i>
                            }
                    </p>
                </li>
                }
            </ul>
        </div>
    </div>
    <div id="test4" class="col s12">
        <h3 class="center">عکس ها</h3>

        <div class="carousel">
            <a class="carousel-item" href="#one!">
                <img src="/img/redmi2.jpg">
            </a>
            <a class="carousel-item" href="#two!">
                <img src="/img/redmi2.jpg">
            </a>
            <a class="carousel-item" href="#three!">
                <img src="/img/redmi2.jpg">
            </a>
            <a class="carousel-item" href="#four!">
                <img src="/img/redmi2.jpg">
            </a>
            <a class="carousel-item" href="#five!">
                <img src="/img/redmi2.jpg">
            </a>
        </div>
    </div>
</section>
