@page "{id}/{slug}"
@model PostModel
@{
}
@using UtilitesLayer.Utilities.ali

@inject CloudTool tool
@await Component.InvokeAsync("Slider", Model.Posts)
<br>
<div class="row m20">
    <div class="col s12 l3">
        <div class="card">
            <div dir="rtl" class="card-content">
                <h4>اخبار:</h4>
                <ul class="collection">
                    @foreach(var item in Model.Categories)
                    {
                        
                        <li class="collection-item"><a asp-page="Blog" asp-route-category="@item.Slug">@item.Name</a> </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <section class="col s12 l9 section z-depth-1 plr-10 ">

        <nav class="mt5" dir="rtl">
            <div class="nav-wrapper">
                <div class="col s12" dir="rtl">
                    <a asp-page="Blog" class="breadcrumb" dir="rtl">اخبار</a>
                    <a asp-page="Blog" asp-route-category="@Model.Post.Category.Slug" class="breadcrumb" dir="rtl">@Model.Post.Category.Name</a>
                    <a class="breadcrumb active" dir="rtl">@Model.Post.Name</a>
                </div>
            </div>
        </nav>
        <img class="responsive-img " style="width: 100%;" src="@tool.GeneratePreSignedUrl(Model.Post.ImagePath,DirectoryPath.BucketName)">
        <small class="left valign-wrapper m20"><i class="material-icons">history</i>@Model.Post.Updated?.PersianDate()</small> <small class="left valign-wrapper m20"><i class="material-icons">list</i><a asp-page="Blog" asp-route-category="@Model.Post.Category.Slug">@Model.Post.Category.Name</a></small> <small class="left valign-wrapper m20"><i class="material-icons">visibility</i>@Model.Post.Visit</small><h2 dir="rtl" class="right">@Model.Post.Name</h2>
        <div class="clear-fix"></div>
        <div dir="rtl">
            @Html.Raw(Model.Post.Content)

        </div>

    </section>
</div>
<article>
    <h2 dir="rtl">اخبار مرتبط:</h2>
    <div class="carousel">
        @foreach(var item in Model.RelatedPosts)
        {
        <a dir="rtl" class="carousel-item" asp-page="Post" asp-route-id="@item.Id">
            <img src="@tool.GeneratePreSignedUrl(item.ImagePath,DirectoryPath.BucketName)"><span class="center">@item.Name</span>
        </a>
        }

    </div>
</article>
<br>
@section MetaCss{
    <meta name="keywords" content="@Model.Post.KeyWords"/>
}