@using Microsoft.CodeAnalysis.Options
@using WebLayer.Areas.Admin.Models
@model UtilitesLayer.DTOs.Post.CreatePostDto



<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    @Html.EditorFor(a => a.Name, "String")
    @Html.EditorFor(a => a.Description)
    @Html.EditorFor(a => a.Slug)
    <div class="input-group input-group-dynamic">
        <label asp-for="CategoryID"></label>
        <select class="form-control" asp-for="CategoryID">
            <option value="">انتخاب کنید</option>

            @foreach (var item in ViewData["categories"] as List<CategoryOption>)
            {
                <option value="@item.Id">@item.Name</option>

            }
        </select>
    </div><br/>
    @Html.EditorFor(a => a.Content, "Ckeditor")
    @Html.EditorFor(a => a.Image)
    @Html.EditorFor(a => a.KeyWords)
    @Html.EditorFor(a => a.IsSpecial)
    <button type="submit" class="btn btn-primary">ایحاد</button>
</form>
