@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model UtilitesLayer.DTOs.Teacher.CreateTeacherDto

@{
}

<form method="post">
    <div asp-validation-summary="All"></div>
    @Html.EditorFor(a => a.Name)
    @Html.EditorFor(a => a.Doc)
    @Html.EditorFor(a => a.Description)
    @Html.EditorFor(a => a.PhoneNumber)
    @Html.EditorFor(a => a.PublicPhoneNumber)
    <input value="ایجاد" type="submit" class="btn btn-success" />
</form>
